header {
  border: 1px solid blue;
}

h1 {
  border: 1px solid green;
  display: inline-block;
}

nav {
  border: 1px solid black;
  display: inline-block;
}

ul {
  text-align: right;
}

li {
  border: 1px solid magenta;
  display: inline-block;
}
